In [36]:
import mysql.connector

cnx = mysql.connector.connect(
    host="*********",
    port=****,
    database="audi_a_models",
    user="***",
    password="**********")

# Get a cursor
cur = cnx.cursor(dictionary=True)

In [39]:
# Select data
cur.execute("SELECT * FROM engine WHERE engine.max_power_in_hp > 250")

# Fetch result
cur.fetchall()

[{'id_engine': 7,
  'engine_name': '45 TFSI',
  'engine_size_in_l': 2.0,
  'max_power_in_hp': 265},
 {'id_engine': 8,
  'engine_name': '55 TFSI',
  'engine_size_in_l': 3.0,
  'max_power_in_hp': 340},
 {'id_engine': 9,
  'engine_name': '60 TFSI',
  'engine_size_in_l': 4.0,
  'max_power_in_hp': 460},
 {'id_engine': 10,
  'engine_name': 'TFSI ',
  'engine_size_in_l': 2.0,
  'max_power_in_hp': 310},
 {'id_engine': 11,
  'engine_name': 'TFSI',
  'engine_size_in_l': 2.5,
  'max_power_in_hp': 400},
 {'id_engine': 12,
  'engine_name': 'TFSI',
  'engine_size_in_l': 2.9,
  'max_power_in_hp': 450},
 {'id_engine': 13,
  'engine_name': 'TFSI',
  'engine_size_in_l': 4.0,
  'max_power_in_hp': 571},
 {'id_engine': 18,
  'engine_name': '50 TDI',
  'engine_size_in_l': 3.0,
  'max_power_in_hp': 286},
 {'id_engine': 19,
  'engine_name': 'TDI',
  'engine_size_in_l': 2.9,
  'max_power_in_hp': 341},
 {'id_engine': 20,
  'engine_name': 'TDI',
  'engine_size_in_l': 2.9,
  'max_power_in_hp': 344},
 {'id_engine': 28,
  'engine_name': 'TFFF',
  'engine_size_in_l': 100.5,
  'max_power_in_hp': 777}]

In [38]:
# Add data
cur.execute("INSERT INTO engine(engine_name, engine_size_in_l, max_power_in_hp) VALUES ('TFFF', 100.500, 777)")
cnx.commit()

In [40]:
# Replace data
cur.execute("UPDATE audi_a_models.engine SET engine_name = 'TTLLQ', engine_size_in_l = 220.9 WHERE engine_name = 'TFFF'")
cnx.commit()

In [35]:
# Delete data
cur.execute("DELETE FROM audi_a_models.engine WHERE engine_name = 'TFFF'")
#cnx.commit()

In [ ]:
# Create new table
cur.execute("CREATE TABLE `audi_a_models`.`fuel` (`id_fuel` INT NOT NULL AUTO_INCREMENT,`fuel_name` VARCHAR(45) NOT NULL, PRIMARY KEY (`id_fuel`))")

In [ ]:
# Drop table
cur.execute("DROP TABLE `fuel`")

In [ ]:
# Add column for connecting table
cur.execute("ALTER TABLE `main_info` ADD `id_fuel` INT NULL AFTER `id_engine`, ADD INDEX `fuel_idx` (`id_fuel` ASC) VISIBLE")

In [28]:
# Add foreign key
cur.execute("ALTER TABLE `main_info` \
            ADD CONSTRAINT `fuel` \
            FOREIGN KEY (`id_fuel`) \
            REFERENCES `audi_a_models`.`fuel` (`id_fuel`) \
            ON DELETE NO ACTION \
            ON UPDATE NO ACTION")

In [35]:
# Close connection
cnx.close()